PORT=5001
MONGO_URI=<your_mongo_uri>
JWT_SECRET_KEY=<your_jwt_secret>
CRYPTO_SECRET_KEY=<your_crypto_secret>
email=<your_email>
email_password=<your_email_app_password>

ATLAS_PUBLIC_KEY=<your_atlas_public_key>
ATLAS_PRIVATE_KEY=<your_atlas_private_key>
ATLAS_ORG_ID=<your_atlas_org_id>

ENCRYPTION_KEY=<your_32_byte_hex_key>
FRONTEND_URL=http://localhost:3001
IMAGE_URL=http://localhost:5001
